.custom-popover-container {
    position: absolute;
    top: calc(100% - 135px);
    left: calc(100% + 15px);
    border-radius: 5%;
    width: 300px;
    height: 300px;
    max-height: 300px;

    &::after {
        content: "";
        display: block;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $gray-600;
        position: absolute;
        top: 35%;
        left: -10px;
    }

}


.custom-icon-popover-container {
    position: fixed;
    bottom: calc(50% - 150px); // - 150 = half of the height
    left: calc(50% - 150px);// -150 = half of the width
    width: 300px;
    height: 300px;
    box-shadow: $box-shadow-lg;
    transition: 1s;

    &:hover {
        bottom: calc(50% - 200px); // -200 = half of the hieght
        left: calc(50% - 200px); // -200 = half of the width
        width: 400px;
        height: 400px;
    }
}