//adding width responsive, more height and width values
$utilities: map-merge($map1: $utilities,
    $map2: (
    'width': map-merge(map-get($utilities, 'width'),
      (values: map-merge(map-get(map-get($utilities, "width"), "values"),
          $custom-width-values,
        ), responsive:true),
    ),
    "height": map-merge(map-get($utilities, "height"),
      (values: map-merge(map-get(map-get($utilities, "height"), "values"),
          $custom-height-values,
        ),responsive:true
      ),
    ),
    "viewport-height": map-merge(map-get($utilities, "viewport-height"),
      (values: map-merge(map-get(map-get($utilities, "viewport-height"), "values"),
        $custom-viewport-height-values,
          ),responsive:true
       ),
     ),
     "max-height": map-merge(map-get($utilities, "max-height"),
     (values: map-merge(map-get(map-get($utilities, "max-height"), "values"),
       $custom-max-height-values,
         ),responsive:true
      ),
    ),
    "cursor": (
      property: cursor,
      class: cursor,
      state: hover,
      values: auto pointer grab,
    )
  )
);

